.indicator {
  composes: indicator from "./meter-layout.module.css";
}

.indicator[data-indeterminate] {
  width: 40%;
  animation: indeterminate 1.4s ease-in-out infinite;
}

@keyframes indeterminate {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(350%);
  }
}
